* {
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html, body {
  margin: 0;
  padding: 0;
}
.home{
  height: 100vh;
  display: flex;
  flex-direction: column;

}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .logo{
  font-weight: bolder;
  text-transform: uppercase;
}

nav .nav-links{
  /* color:  red; */
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
}

nav .selected{
  border-bottom: 1px solid black;
  
}

.main-content{
  flex-grow: 1;
  /* border: 1px solid red; */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./assets/image54.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ad{
  /* margin-top: auto; */
  /* border: 1px solid red; */
  margin: 2rem;
  color: white;
}
.ad p{
  font-weight: 300;
}

.ad button{
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #FF8C38;
  color: white;
  font-weight: bold;
}
footer{

  width: 100%;
  background-color: #252525;
  color: #AAAAAA;
  text-align: center;
  padding: 1.25rem;
}
.about{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about footer{
  margin-top: auto;
  
}

.about-image{
  /* min-height: 200px;
  max-height: 20%; */
  width: 100%;
}

.about-body{
  margin: 2rem 1rem;
  color: #161616;
}

.about-ad{
  background-color: #FFCC8D;
  padding: 2rem;
  border-radius: 5px;
  /* border: 1px solid red; */
}
.about-ad h2{
  margin: 0 0 1rem 0;
}

.about-ad button{
  background-color: #161616;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  color: white;
}